body {
	text-align: center;
}

.myVote {
	width: 30px;
	height: 30px;
 margin-bottom: 4px;
}
#a1,#a2, #a3, #b1, #b2,#b3, #c1,#c2, #c3{
background color : red;
height: 70px;
width:70px;
border-radius:10px;
}
#resetButton {
 border-radius: 5px;
}
