body{
margin:5px 5px;
background-color:aliceblue;
text-align: center;
color: red;
}
#idx_image{
  text-align:center;
  background: linear-gradient(pink,salmon,darksalmon);
  filter:saturate(300%) brightness(150%)contrast(100%);
  transform:rotate(45deg);
  padding: 50px;
  margin-left:50px;
  height :150px;
  width:150px;
  border-radius:20px;
}
h1{
  background: linear-gradient(wheat,azure,saddleBrown);
}
span::first-word{
  font-size:10px;
}
h3{
  background: linear-gradient(90 deg, yellow,lightgreen);
}
/*p{
  background: linear-gradient(90deg, turtoise,teal);
  padding: 50px 10px 50px 10px;
  border: solid 10px teal;
  font-weight:bold;
  font-size:15px;
  text-align: left;
}*/
.links{
	background: linear-gradient(90deg, turtoise,teal);
  padding: 50px 10px 50px 10px;
  border: solid 10px teal;
  font-weight:bold;
  font-size:15px;
  text-align: left;
}

div{
 background: linear-gradient(90deg, purple,teal);
padding: 50px 10px 50px 10px;
border:  10px teal;
font-weight:bold;
font-size:15px;
text-align: left;
color: white;
}
.image-container{
  display:flex;
  justify-content: center;
}


p1{
  text-align: left;

}
button{
  border-radius:25px;
  font-size:20px;
}
button:hover{
  background-color:lightblue;
  color:white;
}
a{
  text-decoration: none;
}
